@import './theme.scss';
 
main {
    padding: 1%;
    display: inline-block;
    text-align: center;
	height: 100% !important;
    width: 100% !important;
    text-align: -webkit-center !important;
}
