@import "./app/theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; text-align: center; }

app-root {
    display: inline-block;
    width: 100%;
    height: 100%;
}